<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx" 
       xmlns:context="http://www.springframework.org/schema/context" 
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
       					   http://www.springframework.org/schema/beans/spring-beans.xsd
       					   http://www.springframework.org/schema/tx 
       					   http://www.springframework.org/schema/tx/spring-tx.xsd
       					   http://www.springframework.org/schema/aop 
       					   http://www.springframework.org/schema/aop/spring-aop.xsd
       					   http://www.springframework.org/schema/context 
       					   http://www.springframework.org/schema/context/spring-context.xsd">
   
   <!-- 创建customerAction动作类,保证是多例 -->
   <bean id="customerAction" class="cn.itcast.action.CustomerAction" scope="prototype">
   		<property name="customerService" ref="customerService"></property>
   </bean>
   
   <!-- 创建dao -->
   <bean id="customerDao" class="cn.itcast.dao.impl.CustomerDaoImpl">
   		<property name="hibernateTemplate" ref="hibernateTemplate"></property>
   </bean>
   
   <!-- 创建service -->
   <bean id="customerService" class="cn.itcast.service.impl.CustomerServiceImpl">
   		<property name="customerDao" ref="customerDao"></property>
   </bean>

</beans>
